<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garrafas</title>
    <link rel="stylesheet" href="../CSS/index.css">
</head>

<body>
    <header>
        <button>HOME</button>
        <button onclick="deleteBottles()">APAGAR</button>
    </header>
    <main>
        
    <input type="number" id="bottleInput" placeholder="Insira o número de garrafas" />
    <button onclick="renderBottles()">Mostrar Garrafas</button>

    <!-- Texto com o número de garrafas -->
    <p id="bottleCount" class="bottle-count">0 garrafas</p>

    <div id="bottleContainer"></div>
    </main>
    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>


    <script src="../JS/Bottles.js"></script>
</body>

</html>