<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garrafas</title>
    <link rel="stylesheet" href="../CSS/index.css">
</head>

<body>
    <header>
        <button>HOME</button>
        <button onclick="deleteBottles()">APAGAR</button>
    </header>
    <main>
        <h1>Insira o total de garrafas pet que você consome por mês</h1>
        
    <input type="number" id="bottleInput" placeholder="Insira o número de garrafas" />
    <button onclick="renderBottles()">Mostrar Garrafas</button>

    <!-- Texto com o número de garrafas -->
    <p id="bottleCount" class="bottle-count">0 garrafas</p>
    
    <!-- Informações de peso e valor -->
    <div class="calculations">
        <p id="weightCount" class="weight-count">0 kg</p>
        <p id="valueCount" class="value-count">R$ 0,00</p>
    </div>

    <div id="bottleContainer"></div>

        
    </main>
    <footer>
        <p>&copy; 2025 </p>
    </footer>


    <script src="../JS/Bottles.js"></script>
</body>

</html>